body {
    background-image: url('/images/Brickwall.jpg');
    background-size: cover;
    margin: 0;
}

.main {
    width: 100vw;
}

#header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    #header-personal {
        background-image: url('/images/wood-sign.png');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #header-personal-name {
        font-family: 'MedievalSharp', serif;
    }

    #header-personal-desc {
        font-family: 'MedievalSharp', serif;
    }

.header-torch-regular {
    background-image: url('/images/torch.png');
    width: 400px;
    height: 400px;
    background-size: cover;
} 

.header-torch-reversed {
    background-image: url('/images/torch.png');
    width: 400px;
    height: 400px;
    background-size: cover;
    transform: scaleX(-1);
}

.wood-divider {
    width: 100%;
    height: 200px;
    box-shadow: 10px 30px 30px rgba(0, 0, 0, 0.5);
}

#projects-and-skills {
    display: flex;
}

    #about-me {
        display: flex;
        flex-direction: column;
    }

    #about-me-desc {
        background-image: url('/images/scroll-paper.png');
        background-position: center;
        background-size: cover;
        font-family: 'MedievalSharp', serif;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .small-wood-sign {
        background-image: url('/images/small-wood-sign.png');
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'MedievalSharp', serif;
        color: white;
    }

    .small-wood-door {
        display: flex;
        align-items: center;
    }

        .small-wood-door-image {
            background-image: url('/images/small-door.png');
            transform: scaleX(-1);
            background-position: center;
            background-size: cover;
            box-shadow: 20px 5px 30px 10px rgba(0, 0, 0, 0.8);
        }

        .profile-picture {
            background-image: url('/images/profile-picture.jpg');
            background-position: center;
            background-size: cover;
            background-color: black;
        }

    #skills {
        
    }

/* Mobile */
@media (max-width: 640.98px) {
}

/* 1024 x 768 */
@media (min-width: 1024px) {
    #header-personal {
        width: 604px;
        height: 434px;
        margin-top: -40px;
    }

    #header-personal-name {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'MedievalSharp', serif;
        font-size: 35px;
        color: white;
        font-weight: 600;
        margin-top: 72px;
    }

    #header-personal-desc {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 27px;
        color: white;
        margin-top: 41px;
    }

    .header-torch-regular {
        margin-top: 71px;
    }

    .header-torch-reversed {
        margin-top: 71px;
    }

    #top-divider {
        margin-top: -140px;
    }
}

/* 1920 x 1080 and higher */
@media (min-width: 1920px) {
    #header-personal {
        width: 813px;
        height: 710px;
    }

    #header-personal-name {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'MedievalSharp', serif;
        font-size: 43px;
        color: white;
        font-weight: 600;
        margin-top: 117px;
        margin-bottom: 50px;
    }

    #header-personal-desc {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 43px;
    }

    .header-torch-regular {
        margin-top: 107px;
    }

    .header-torch-reversed {
        margin-top: 107px;
    }

    #top-divider {
        margin-top: -140px;
    }

    #projects-and-skills {
        padding-left: 50px;
        padding-right: 50px;
        height: 1000px;
    }

        #about-me-desc {
            width: 300px;
            height: 500px;
            margin-top: 253px;
            margin-left: 45px;
        }

        #about-me-desc-text {
            width: 200px;
            height: 234px;
            font-size: larger;
            font-weight: 600;
        }

        .small-wood-sign {
            height: 300px;
            width: 300px;
            margin-left: 190px;
            margin-top: -11px;
        }
        
            .small-wood-sign-text {
                font-size: 35px;
                font-weight: 500;
                padding-top: 98px;
            }

            .small-wood-door-image {
                width: 300px;
                height: 500px;
            }

            .profile-picture {
                width: 300px;
                height: 500px;
            }
}

