body {
    background-image: url('/images/Brickwall.jpg');
    background-size: cover;
    margin: 0;
}

.main {
    width: 100vw;
}

#header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    #header-personal {
        background-image: url('/images/wood-sign.png');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #header-personal-name {
        font-family: 'MedievalSharp', serif;
    }

    #header-personal-desc {
        font-family: 'MedievalSharp', serif;
    }

.header-torch-regular {
    background-image: url('/images/torch.png');
    width: 400px;
    height: 400px;
    background-size: cover;
} 

.header-torch-reversed {
    background-image: url('/images/torch.png');
    width: 400px;
    height: 400px;
    background-size: cover;
    transform: scaleX(-1);
}

.wood-divider {
    width: 100%;
    height: 200px;
    background-image: url('/images/wood-plank.png');
    background-size: contain;
    box-shadow: 10px 30px 30px rgba(0, 0, 0, 0.5);
}

#about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Mobile */
@media (max-width: 640.98px) {
}

/* 1024 x 768 */
@media (min-width: 1024px) {
    #header-personal {
        width: 604px;
        height: 434px;
        margin-top: -40px;
    }

    #header-personal-name {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'MedievalSharp', serif;
        font-size: 35px;
        color: white;
        font-weight: 600;
        margin-top: 72px;
    }

    #header-personal-desc {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 27px;
        color: white;
        margin-top: 41px;
    }

    .header-torch-regular {
        margin-top: 71px;
    }

    .header-torch-reversed {
        margin-top: 71px;
    }

    .top-divider {
        margin-top: -140px;
    }
}

/* 1920 x 1080 and higher */
@media (min-width: 1920px) {
    #header-personal {
        width: 813px;
        height: 710px;
    }

    #header-personal-name {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'MedievalSharp', serif;
        font-size: 43px;
        color: white;
        font-weight: 600;
        margin-top: 117px;
        margin-bottom: 50px;
    }

    #header-personal-desc {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 43px;
    }

    .header-torch-regular {
        margin-top: 107px;
    }

    .header-torch-reversed {
        margin-top: 107px;
    }

    #top-divider {
        margin-top: -140px;
    }
}

